<% # = form_with(model: user) do |form| %>
<%= form_with model: @user, local: true do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_image %>
    <%= f.file_field :user_image %>
  </div>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :bio %>
    <%= f.text_area :bio %>
  </div>

  <fieldset>
    <legend>Socials:</legend>
    <%= f.fields_for :socials do |socials_form| %>
        <%= render "social_fields", f: socials_form %>
    <% end %>
    <%= link_to_add_fields "Add Socials", f, :socials %>
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

