<div class="nested-fields">
    <%= form_with model: @social, local: true do |f| %>
    <%= f.hidden_field :_destroy %>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div>
        <%= f.label :link %>
        <%= f.text_field :link %>
    </div>
    <div>
        <%= link_to "Remove", '#', class: "remove_fields" %>
    </div>
    <% end %>
</div>