
<p>
  <strong>Profile Image:</strong><br>
  <% if @user.profile_img %>
    <%= image_tag @user.profile_img %>
  <% else %>
    <strong>Profile Image not attached yet.</strong>
  <% end %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @user.bio %>
</p>


<p>
  <strong>Socials:</strong><br>
  <% @user.socials.each do |social| %>
    <p>
      <strong>Social Name:</strong>
        <%= social.name %>
      <strong>Link:</strong>
        <%= social.link %>
    </p>
  <% end %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
